<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="container">
    <%= render 'shared/feed' %>
  </div>
<% else %>
  <div class="relative">
    <%= image_tag("TopPage.jpg", alt: "Top image", class: "full-screen")  %>
    
    <div>
      <%= link_to "Sign up", new_user_registration_path, class: "btn-large absolute" %>
    </div>
  </div>
  <div class="section container gray lighten-4">
    <div class="center">
      <h2>- aiilustとは-<h2>
    </div>
    <div>
      <h4>様々な観点から厳選されたイラストの販売・購入プラットフォーム</h4>
    </div>
    <div class="row">
      <div class="col s4"><%= image_tag("drawer.png", width: "300", height: "300")  %></div>
      <div class="col s4"><%= image_tag("AIkun.png", width: "300", height: "300")  %></div>
      <div class="col s4"><%= image_tag("paying.png", width: "400", height: "300")  %></div>
    </div>
  </div>
  <div class="section center">
    <%= link_to "Sign up", new_user_registration_path, class: "btn-large" %>
  </div>
<% end %>