<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <%#<div class="col-md-6 col-md-offset-3">%>
  <div class="col l12">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, class: 'col s12' %>
      <%= f.email_field :email, class: 'input-field col s12' %>

      <%= f.label :password, class: 'col s12' %>
      <%= link_to "(forgot password)", new_password_reset_path, class: 'col s12' %>
      <%= f.password_field :password, class: 'input-field col s12' %>

      <%= f.label :remember_me do %>
        <%= f.check_box :remember_me, checked:"checked" %>
        <span>Remember me on this computer</span>
      <% end%>
      <%# ログインボタンを一度押すとボタンの文字が黒くなる問題 %>
      <%= f.submit "Log in", class: "btn waves-effect waves-light" %>
      
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>