<div class="container">
<h2>Log in</h2>
<div class="row">
<div class="col l12">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><!--class="field"は消した-->
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div><!--class="field"は消した-->
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div><!--class="field"は消した-->
      <%= f.label :remember_me do %>
        <%= f.check_box :remember_me, checked:"checked" %>
        <span>Remember me on this computer</span>
      <% end%>
    </div>
  <% end %>

  <div><!--class="actions"は消した-->
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
</div>
</div>