<div id="painting-<%= @painting.id %>">
</div>

<div class="container the-painting-container">
  <div class="row">
    <div class="col l12">
      <div class="row">

        <div class="col l8 s12">  
          <!--画像表示（左列）-->
          <div>
            <% if !@painting.picture.url.nil? %>
              <%= image_tag(@painting.picture.solo_image.url) %>
            <% end %>
          </div>
        </div>

        <!--右列-->
        <div class="col l4 s12">
          <div class="card-panel">
            <div class="user"><%= link_to @painting.user.name, @painting.user %></div>
            <div><%= number_to_currency(@painting.price, :unit =>  "¥", :precision => 0) %></div>
            <div class="description"><%= @painting.description %></div>
            <!--タグの表示-->
            <div>
  　           <% @painting.tag_list.each do |tag| %>
                <span class="chip blue-grey lighten-5"><%= link_to "##{tag}", search_paintings_url(tag: tag) %></span>
  　           <% end %>
            </div>
            <% if @painting.activated == false %>
              <div><p>This is not activated!</p></div>
              <% if current_user.admin? %>
                <div>
                  <%= link_to "accept", {controller: "paintings", action: "admin_update", id: @painting.id, activated: true}, class: "btn", 
                   method: :post, data: { confirm: "Do you accept this?" } %>
                  <%= link_to "reject", @painting, class: "btn" , method: :delete,
                                       data: { confirm: "Do you reject this?" } %>
                </div>
              <% end %>
            <% else %>
              <!--購入ボタン（モーダル）&編集ページリンク-->
              <% if current_user?(@painting.user) %>
                <section class="right-align">
                  <%= link_to "編集",edit_painting_url, class: "waves-effect waves-light btn"%>
                  <%= link_to "delete", @painting, method: :delete,
                                       data: { confirm: "You sure?" } %>
                </section>
              <% elsif @painting.purchase_id.present? %>
                <section class="right-align">
                  <p>購入済</p>
                </section>
              <% else %>
                <section class="right-align">
                  <a class="waves-effect waves-light btn modal-trigger" href="#modal1" data-target="modal1">購入</a>
                </section>
              <% end %>
            <% end %>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>



<!--モーダル表示部分-->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>注意事項</p>
    <p>同一性の担保はロゴの挿入の範囲までですよ〜</p>
  </div>
  <div class="modal-footer">
    <%= link_to "支払いページへ進む",stripe_event_payment_profile_path(painting_id: @painting.id), class: "waves-effect waves-light btn"%>
  </div>
</div>