
<div class='row'>
  <%= form_for(@painting) do |f| %><%#=, url: { controller: :users, action: :show} %>
    <div class= 'input-field col s12 m8'>
    　<div class="divider"></div>
    　<%= render 'shared/error_messages', object: f.object %>   
     <!--画像ファイル-->
     <label>
     <div class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></div> 
  　　<%= f.file_field :picture ,class: "custom-file-field"%>
     </label>
     <!--商品説明-->
 　　 <section >
        <%= f.label :description, '商品の説明' %>
        <%= f.text_field :description, placeholder: "作品の説明文を入力してください"%>
      </section>
      <!--tag-->
      <section >
        <%= f.label :tag_list, 'タグをカンマ(,)区切りで入力してください' %>
        <%= f.text_field :tag_list, class: "chips"%>
      </section>
      
      <!--値段-->
    　<section>
        <%= f.label :price, '商品の値段を入力してください' %> 
        <%= f.number_field :price, placeholder: "10000円以上" , class: "field"%>
      </section>
      <!--submit-->
    　<section class="right-align"><%= f.submit "Post", class: "btn btn-primary" %><section>
    　<div class="divider"></div>
    </div>
  <% end %>
</div>
